* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Press Start 2P';

}

.container {
    width: 100%;
    height: 100vh;
    position: fixed;
    background-image: url('/assets/imgs/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}