/* Start Menu */
.start-menu {
    height: 100%;
}

.start-menu.none {
    display: none;
}

.container-title-logo, .container-btn-play {
    height: 50%;
}

.container-title-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 300px;
    height: 178px;
    background-image: url('/assets/imgs/logo-cho-han.png');
    background-size: cover;
    background-position: center;
}

.btn-play {
    width: 150px;
    height: 80px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/assets/imgs/button.png');
    background-size: cover;
    background-position: center;
    animation: bounce 5s infinite;
}

.btn-play:active {
    background-image:
    linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url('/assets/imgs/button.png');
}

.text-play {
    width: 90px;
    height: 21px;
    background-image: url('/assets/imgs/texts/text-play.png');
    background-size: cover;
    background-position: center;
}

@keyframes bounce{
    0%{
        -webkit-animation-timing-function:cubic-bezier(.215,.61,.355,1);
        animation-timing-function:cubic-bezier(.215,.61,.355,1);
        -webkit-transform:translateZ(0);
        transform:translateZ(0);
    }
    90%,93%{
        -webkit-animation-timing-function:cubic-bezier(.215,.61,.355,1);
        animation-timing-function:cubic-bezier(.215,.61,.355,1);
        -webkit-transform:translateZ(0);
        transform:translateZ(0);
    }
    91%,92%{
        -webkit-animation-timing-function:cubic-bezier(.755,.05,.855,.06);
        animation-timing-function:cubic-bezier(.755,.05,.855,.06);
        -webkit-transform:translate3d(0,-15px,0) scaleY(1.1);
        transform:translate3d(0,-15px,0) scaleY(1.1);
    }
    96%{
        -webkit-animation-timing-function:cubic-bezier(.755,.05,.855,.06);
        animation-timing-function:cubic-bezier(.755,.05,.855,.06);
        -webkit-transform:translate3d(0,-7px,0) scaleY(1.05);
        transform:translate3d(0,-7px,0) scaleY(1.05);
    }
    98%{
        -webkit-transition-timing-function:cubic-bezier(.215,.61,.355,1);
        transition-timing-function:cubic-bezier(.215,.61,.355,1);
        -webkit-transform:translateZ(0) scaleY(.95);
        transform:translateZ(0) scaleY(.95);
    }
    100%{
        -webkit-transform:translate3d(0,-4px,0) scaleY(1.02);
        transform:translate3d(0,-2px,0) scaleY(1.02);
    }

}